:root {
  --primary-color: #055052;
  --secondary-color: #53b8bb;
  --third-color: #003638;
  --background-color: #f3f2c91a;
}

.schemaPregnantWoman {
  width: 100%;
  /* height: 20px; */
}

.schemaPregnantWoman__table {
  background: #fff;
  min-width: 55vw;
  border-radius: 1rem;
  box-shadow: 0 10px 25px #5c636933;
  padding: 1rem;
}

.schemaPregnantWoman__table tbody tr td {
  padding: 1rem;
  border-right: 1px dotted black;
}

.schemaPregnantWoman__table-title h2 {
  margin-bottom: 2rem;
  margin-top: 2rem;
  color: var(--primary-color);
}

.schemaPregnantWoman__table-titleRow {
  width: 15rem;
}

.schemaPregnantWoman__table-subtitle,
.schemaPregnantWoman__table-titleRow,
.schemaPregnantWoman__table-titleMonth,
.schemaPregnantWoman__table-titleYear,
.schemaPregnantWoman__table-titleAnual {
  font-size: 1.8rem;
  text-align: center;
}
.schemaPregnantWoman__table-titleAnual {
  width: 1.5rem;
  transform: rotate(-90deg);
}

.schemaPregnantWoman__table__first {
  width: 2.5rem;
}

.schemaPregnantWoman__table-vaccine {
  width: 15rem;
  height: 8rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.schemaPregnantWoman__table__vaccine-item {
  border-radius: 1rem;
  width: 2rem;
  height: 2rem;
  margin: 0 auto;
}

.item-primary {
  background: var(--primary-color);
}

.item-secondary {
  background: var(--secondary-color);
}

/* 
*########### MEDIAS PHONE ########### 
*/
@media (max-width: 480px) {
  .schemaPregnantWoman__table tbody tr td {
    padding: 0.5rem;
  }

  .schemaPregnantWoman__table {
    font-size: 1.2rem;
    min-width: 90vw;
  }

  .schemaPregnantWoman__table-vaccine {
    width: 8rem;
    height: 5rem;
    margin-bottom: 2.5rem;
  }
  .schemaPregnantWoman__table-titleRow {
    width: 8rem;
  }

  .schemaPregnantWoman__table-subtitle,
  .schemaPregnantWoman__table-titleRow,
  .schemaPregnantWoman__table-titleMonth,
  .schemaPregnantWoman__table-titleYear,
  .schemaPregnantWoman__table-titleAnual {
    font-size: 1rem;
  }

  .schemaPregnantWoman__table__vaccine-item {
    border-radius: 1rem;
    width: 1rem;
    height: 1rem;
  }
}
